body {
    font-family: sans-serif;
    background-color: #ffffff;
}

#grid-container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto 60px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 25px;
    justify-content: space-between;

}

.image {
    background-color: rgb(64, 152, 224);
    border-radius: 10% 10% 0 0;
}
img {
    height: 100px;
    position: relative;
    left: 20px;
    top: 10px;
}

figcaption {
    position: relative;
    top: 20px;
    left: 70px;
}

p {
    width: 90%;
}
